body{
    background-color: black;
}

h1{
    font-family: 'Segoe UI', Verdana, Arial, sans-serif;
    color: white
}

.dataTable{
    margin-bottom: 20px;
}

.personDataPanel{
    width: 300px !important;
}

.telephonesPanel{
    display: block;
    width: 50%;
    margin-bottom: 20px;
}

.rowEditor{
    display: inline-block;
}